<div class="article-container">
    <div>
      <div class="bigForm">
        <form [formGroup]="articleForm">
          <div class="image-container">
            <img class="articleImg"
              *ngIf="!imageChangedEvent"
              src="./../../../../assets/photo-upload.png"
              alt=""
              (click)="fileInput.click()">
            </div>
            <input
            formControlName='url'
            hidden
            (change)="this.onFileUpdate($event)"
            #fileInput
            type="file"
          />
            <div *ngIf='imageChangedEvent' class="crooper">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="false"
                [aspectRatio]="4 / 1"
                [resizeToWidth]="640"
                format="png"
                (imageCropped)="imageCropped($event)"
            ></image-cropper>
           </div>
          <hr>
          <div class="form-group">
            <label for="exampleInputText1">{{uiComponents.Title}}</label>
            <small id="textHelp" class="form-text text-muted">{{uiComponents.InputInfo}}</small>
            <input type="text" class="form-control" id="exampleInputText1" formControlName="title" [(ngModel)]='this.articleTitle' placeholder="{{uiComponents.EnterTitle}}">
          </div>
          <hr>
          <div class="form-group">
            <label for="exampleInputText1">{{uiComponents.Content}}</label>
            <small id="textHelp" class="form-text text-muted">{{uiComponents.ContentInfo}}</small>
            <textarea type="text" class="form-control" id="exampleInputText1" formControlName="content" [(ngModel)]='this.articleContent' placeholder="{{uiComponents.EnterContent}}"></textarea>
          </div>
          <hr />
          <div style="text-align: center;">
            <button style="margin-bottom: 10px; padding: 10px;" type="submit" class="btn btn-primary" (click)="this.onCreateArticleButton();" [disabled]="!articleForm.valid"
            >{{uiComponents.Submit}}</button>
          </div>
        </form>
      </div>
      <div class='buttons'>
    </div>
 </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{uiComponents.LanguageConfirm}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="input-group">
    {{uiComponents.LanguageConfirmQuestion}} {{this.languageCode}}
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save(); modal.close('Save click')">{{uiComponents.Save}}</button>
  </div>
</ng-template>

<pre>{{closeResult}}</pre>