.articleImg {
    width: 50%;
    height: 400px;
}
.article-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px;
    background-color: whitesmoke;
}
/* .crooper {
   width: 300px;
   height: 300px;
} */
/* 
.crooper > image-cropper > div img.source-image {
    width: 600px;
} */
form {
    margin-left: 20px;
    margin-right: 20px;
}
.image-container {
    text-align: center;
}

image-cropper ::ng-deep img {
    width: 50%;
    height: 400px;
}