table {
    max-width: 100%;
    display: block;
    overflow: scroll;
}

/* td {
    width: 100%;
} */
td {
    width: 50%;
}

.right {
    right: 0;
    margin: 1%;
}

.left {
    float: left !important;
    left: 0;
    margin: 1%;
}