<table class="table table-sm table-dark">
        <thead>
        </thead>
        <tbody>
          <tr>
            <tr>
              {{this.uiComponents.Content}}
            </tr>
            <td>
              {{ this.currentArticle.content }}
            </td>
            <td>
              <form [formGroup]="articleForm">
              <div class="md-form amber-textarea active-amber-textarea">
                  <textarea id="form19"  formControlName='content' placeholder="{{this.uiComponents.ContentInfo}}" [(ngModel)]='this.newContent'class="md-textarea form-control" rows="3" #value>{{ this.currentArticle.content }}</textarea>
                </div>
              </form>
              </td>
              <tr>
                <tr>
                  {{this.uiComponents.Title}}
                </tr>
                <td>
                  {{this.currentArticle.title}}
                </td>
                <td>
                  <form [formGroup]="articleForm">
                  <div class="md-form amber-textarea active-amber-textarea">
                    <textarea id="form19" formControlName='title' placeholder="{{this.uiComponents.InputInfo}}" [(ngModel)]='this.newTitle' class="md-textarea form-control" rows="3" #value>{{ this.currentArticle.title }}</textarea>
                  </div>
                </form>
                  <td>
                  </td>
                </tbody>
          <button style="float: right;" type="button" class="btn btn-secondary right" (click)='this.editArticle(this.currentArticle.id)' [disabled]="!articleForm.valid">{{uiComponents.SaveChanges}}</button>
      </table>
