/* .form-container {
    text-align: center;
    
    background-color: black; */
    /* margin: 150px; */
    /* padding-top: 50px;
    opacity: 0.7;
    margin-left: 220px;
    width: 50%;
} */
.register-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
 }

.btn {
    background-color: grey;
    margin-left: 35%;
} 

/* .passwordField {
    margin-left: 38px;
} */

h1 {
    color: lightgray;
}

.modal-title {
    margin-left: 35%;
}

h5 {
    text-align: center;
    padding-top: 3px;
}

input {
    /* margin-left: 32%; */
    width: 100%;
    opacity: 0.8;
    background-color: lightgray;
}

.modal-header {
    background-color: rgb(79, 104, 172);
    opacity: 0.9;
    margin-bottom: -1px;
}

.modal-body {
    background-color: rgb(79, 104, 172);
    opacity: 0.9;
}

.input-container {
    display: flex;
}

.info-btn {
    background-color: rgb(79, 104, 172);
    border: none;
}

.material-icons {
    padding-top: 8px;
    padding-right: 6px;
}

.input-icon {
    border: none;
    background-color:rgb(79, 104, 172);;
}
