<div class="register-form">
    
    <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{uiComponents.Register}}</h4>
          <button type="button" class="close" aria-label="Close" (click)='close()'>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form [formGroup]="registerForm" >
                        <h5>{{uiComponents.Username}}</h5>
                        <div class="input-container">
                                <span class="input-icon">
                                        <i class="material-icons">
                                                person
                                                </i>
                                    </span>
                      <input  formControlName="username" [(ngModel)]='this.regUsername' type="text" placeholder="{{uiComponents.EnterUsername}}" >
                      <button type="button" ngbPopover="{{uiComponents.UsernameInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                            <i class="material-icons">
                                    info
                                    </i>
                          </button> 
                    </div>

                      <h5>{{uiComponents.Name}}</h5>
                        <div class="input-container">
                                <span class="input-icon">
                                        <i class="material-icons">
                                                people_alt
                                                </i>
                                    </span>
                      <input  formControlName="name" [(ngModel)]='this.regName' type="text" placeholder="{{uiComponents.EnterName}}" >
                      <button type="button" ngbPopover="{{uiComponents.NameInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                            <i class="material-icons">
                                    info
                                    </i>
                        </button>
                    </div>

                      <h5>{{uiComponents.Surname}}</h5>
                      <div class="input-container">
                            <span class="input-icon">
                                    <i class="material-icons">
                                            people_alt
                                            </i>
                                </span>
                      <input  formControlName="surname" [(ngModel)]='this.regSurname' type="text" placeholder="{{uiComponents.EnterSurname}}" >
                      <button type="button" ngbPopover="{{uiComponents.SurnameInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                            <i class="material-icons">
                                    info
                                    </i>
                          </button>
                      </div>

                      <h5>{{uiComponents.Email}}</h5>
                      <div class="input-container">
                            <span class="input-icon">
                                    <i class="material-icons">
                                            contact_mail
                                            </i>
                                </span>
                      <input formControlName="email" [(ngModel)]='this.regEmail' type="text" placeholder="{{uiComponents.EnterEmail}}" >
                      <button type="button" ngbPopover="{{uiComponents.EmailInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                            <i class="material-icons">
                                    info
                                    </i>
                          </button>
                        </div>

                  <h5>{{uiComponents.Password}}</h5>
                  <div class="input-container">
                        <span class="input-icon">
                                <i class="material-icons">
                                        vpn_key
                                        </i>
                            </span>
                      <input  formControlName="password" [(ngModel)]='this.regPassword' [type]="!hide ? 'password' : 'text'" placeholder="{{uiComponents.EnterPassword}}" >
                      <button type="button" ngbPopover="{{uiComponents.PasswordInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                            <i class="material-icons">
                                    info
                                    </i>
                          </button>
                  </div>

                  <br>
                      <button class="btn" type="submit" (click)='register()' [disabled]='!registerForm.valid'>{{uiComponents.Register}}</button>
                  </form>
        </div>
</div>