<div class="login-form">

            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{uiComponents.SignIn}}</h4>
              <button type="button" class="close" aria-label="Close" (click)='close()'>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form [formGroup]="loginForm" >
                            <h5>{{uiComponents.Username}}</h5>
                    <div class="input-container">
                        
                            <span class="input-icon">
                                    <i class="material-icons">
                                            person
                                            </i>
                            </span>
                        <input formControlName="username" [(ngModel)]='this.loginUsername' type="text" placeholder="{{uiComponents.EnterUsername}}" >
                        <button type="button" ngbPopover="{{uiComponents.UsernameInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                                <i class="material-icons">
                                        info
                                        </i>
                              </button>
                            </div>

                    <h5>{{uiComponents.Password}}</h5>
                    <div class='input-container'>
                        <span class="input-icon">
                                <i class="material-icons">
                                        vpn_key
                                        </i>
                        </span>
                        <input formControlName="password" [(ngModel)]='this.loginPassword' [type]="!hide ? 'password' : 'text'" placeholder="{{uiComponents.EnterPassword}}" >
                        <button type="button" ngbPopover="{{uiComponents.PasswordInfo}}" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                                <i class="material-icons">
                                        info
                                        </i>
                              </button>
                        </div>

            <br>
                        <button class='btn' type="submit" (click)='login()' [disabled]='!loginForm.valid'>{{uiComponents.SignIn}}</button>
            </form>
            </div>
          
        
        </div>