<h1>{{uiComponents.MyArticles}}</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{{uiComponents.Title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let article of this.allArticles | paginate: { itemsPerPage: 8, currentPage: p } '>
        <td>{{ this.article.title}}</td>
        <td><button (click)='this.deleteAllArticles(this.article.originalArticleId)' type="button" class="btn btn-secondary">{{uiComponents.DeleteArticle}}</button></td>
        <td><button (click)='this.editArticle(this.article.id)' type="button" class="btn btn-secondary">{{uiComponents.EditArticle}}</button></td>
        <td><button (click)='this.viewArticleDetails(this.article.originalArticleId)' type="button" class="btn btn-secondary">{{uiComponents.ShowVersions}}</button></td>
    </tr>
    </tbody>
    <button (click)='this.goBack()' type="button" class="btn btn-secondary">{{uiComponents.GoBack}}</button>
</table>
<div class='pagination'>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>