h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 100%;
}
.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

label {
    font-size: small;
    margin-left: 5px;
}

.content-container {
    text-align: justify;
}

div {
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.rateForm {
    height: 100px;
}
form {
    float: left;
}

@media(min-width:768px) {
    img {
        height: 500px;
        object-fit: cover;
        object-position: center;
    }

}

@media(max-width: 1100px) {
    .article-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width: 366px) {
    .article-container {
        padding-left: 0;
        padding-right: 0;
    }

    .rateForm {
        padding: 0;
    }


}