 <div class='article-container'>
    <div class='title'>
        <h2>{{ this.currentArticle.title }}</h2>
    </div>
    <div class='date'>
            <label>{{uiComponents.LastUpdate}}: {{ this.currentArticle.updatedOn }}</label>
    </div>
    <div class='author'>
        <img src="{{
            this.currentArticle.authorImgUrl
              ? this.userAvatarSrcPrefix + this.currentArticle.authorImgUrl
              : this.defaultUserAvatarImagePath
          }}">
        <label>{{ this.currentArticle.author }}</label>
    </div>
    <div class="image">
        <img *ngIf='this.currentArticle.imgUrl' class='img-fluid' [src]="this.currentArticle.imgUrl" alt="">
        <img *ngIf='!this.currentArticle.imgUrl' class='img-fluid' src="./../../../../assets/default-user.png" alt="">
    </div>
    <div class="content-container">
        <h4 style="font-weight: normal; font-family: initial;">
        {{ this.currentArticle.content }}
        </h4>   
    </div>
    <div *ngIf='this.currentArticle.rating !== 0'>{{uiComponents.AvgRate}}: {{ this.currentArticle.rating }}</div>
    <div class="rateForm" *ngIf='this.key > -1 && this.currentArticle.rating !== 0'>
        <form [formGroup]="form" *ngIf='this.currentArticle.rating !== 0'>
                <ngx-star-rating formControlName="rating" [id]="'rating'" (click)='this.rating = form.value.rating; this.rateBook()'></ngx-star-rating>
        </form>
    </div>
 </div>