.profile-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px;
  background-color: whitesmoke
}

img {
  border-radius: 50%;
  width: 100%;
  height: 100%; 
  max-width: 220px;
  max-height: 220px;
  margin-bottom: 30px;
  border-radius: 50%;
  width: 100%;
  height: 100%; 
  max-width: 220px;
  max-height: 220px;
  margin-bottom: 30px;
}
.profile-wrapper > div > div > button {
border: solid 1px black;
margin: 7px;
}

h5 {
font-size: 15px;
}

.info-btn {
  background-color: transparent;
  border: 0;
}

.modal-title {
  margin-left: 30%;
}

.modal-footer > .btn {
  margin-right: 39%;
  padding-left: 30px;
  padding-right: 30px;
}

@media(max-width: 366px) {
  .name {
    margin-top: 30px;
  }
  
}