<div class="profile-container">
  <div class="profile-wrapper">
    <div class="row" style="padding: 50px;">
      <div class="col-sm" style="text-align: center; margin-top: 6px;">
        <img
          src="{{
            this.loggedUserData.avatarUrl
              ? this.userAvatarSrcPrefix + this.loggedUserData.avatarUrl
              : this.defaultUserAvatarImagePath
          }}"
        />
        <br />
        <button type="button" class="btn btn-light" (click)="fileInput.click()">
          {{uiComponents.UploadPicture}}
        </button>
        <input
          hidden
          #fileInput
          type="file"
          (change)="onFileSelected(fileInput.files[0])"
        />
        <br />
        <button
        (click)="open(content)"
          type="button"
          style="padding-left: 26px;
              padding-right: 26px;
          "
          class="btn btn-light"
        >
          {{uiComponents.EditProfile}}
        </button>
      </div>
      <div class="col-sm" style="margin-top: 6px;">
        <h5 class="name">{{uiComponents.Name}}:</h5>
        <h4 class="profile-username">{{ this.loggedUserData.name }}</h4>
        <hr />
        <h5>{{uiComponents.Surname}}:</h5>
        <h4 class="profile-username">{{ this.loggedUserData.surname }}</h4>
        <hr />
        <h5>{{uiComponents.Email}}:</h5>
        <h4 class="profile-username">{{ this.loggedUserData.email }}</h4>
        <hr />
        <h5>{{uiComponents.ActiveRoles}}:</h5>
        <h4 class="profile-username">
          {{ this.loggedUserData.roles.join(", ") }}
        </h4>
        <hr />
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{uiComponents.ProfileUpdate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="username">{{uiComponents.Username}}: </label>
        <div class="input-group">
          <input type="text" [(ngModel)]='this.username' class="form-control" [placeholder]="this.loggedUserData.username">
          <button type="button" ngbPopover="Minimum 3 characters!" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                  <i class="material-icons">
                          info
                  </i>
          </button>
          </div>
          <label for="username">{{uiComponents.Name}}: </label>
        <div class="input-group">
          <input type="text" [(ngModel)]='this.name' class="form-control" [placeholder]="this.loggedUserData.name">
          <button type="button" ngbPopover="Minimum 2 characters!" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                  <i class="material-icons">
                          info
                  </i>
          </button>
          </div>
          <label for="username">{{uiComponents.Surname}}: </label>
        <div class="input-group">
          <input type="text" [(ngModel)]='this.surname' class="form-control" [placeholder]="this.loggedUserData.surname">
          <button type="button" ngbPopover="Minimum 2 characters!" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                  <i class="material-icons">
                          info
                  </i>
          </button>
          </div>
          <label for="username">{{uiComponents.Email}}: </label>
        <div class="input-group">
          <input type="text" [(ngModel)]='this.email' class="form-control" [placeholder]="this.loggedUserData.email">
          <button type="button" ngbPopover="Enter valid email !" triggers="mouseenter:mouseleave" placement="left" class="info-btn">
                  <i class="material-icons">
                          info
                  </i>
          </button>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="this.updateUser(); modal.close('Save click')">{{uiComponents.Save}}</button>
  </div>
</ng-template>

<pre>{{closeResult}}</pre>