img {
    margin-top: 10px;
    width: 99px;
    height: 100px;
    border-radius: 50%;
}

.card {
    width: 200px;
    margin: 30px;
    text-align: center;
}
.pagination {
    margin-left: 50%;
}

.wrapper {
    text-align: center;
}

h1 {
    text-align: center;
}