<div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
<button class="btn btn-secondary" (click)='open(newLanguage)'>{{uiComponents.CreateNewLanguage}}</button>
</div>
<h1>{{uiComponents.RegisteredUsers}}:</h1>
<ng-template #newLanguage let-modal>
  <div class="modal-header" style="display: block; text-align: center;">
    <button type="button" class="close" aria-label="Close" style='float:right' (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button>
      <h4 class="modal-title" id="modal-basic-title">{{uiComponents.CreateNewLanguage}}</h4>
      <br>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="language">{{uiComponents.Language}}: </label>
          <div class="input-group">
            <input type="text" [(ngModel)]='this.language' class="form-control" placeholder="{{uiComponents.Language}}...">
            </div>
            <label for="language code">{{uiComponents.LanguageCode}}: </label>
            <div class="input-group">
              <input type="text" [(ngModel)]='this.languageCode' class="form-control" placeholder="{{uiComponents.LanguageCode}}...">
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="addNewLanguage(); close()">{{uiComponents.Save}}</button>
  </ng-template>
<div class="wrapper">
<div class="usersList" *ngFor='let user of this.users | paginate: { itemsPerPage: 7, currentPage: p }' style="display: inline-block">
  <div class="card" style="flex-grow: 2; display: inline-block;" *ngIf='!user.roles.includes("Admin")'>
    <img *ngIf='this.user.avatarUrl' [src]="this.userAvatarSrcPrefix + this.user.avatarUrl" alt="Card image cap">
    <img *ngIf='!this.user.avatarUrl' src="../../../assets/default-user.png" alt="Default user image">
    <div class="card-body">
      <h5 class="card-title">{{ this.user.name }}</h5>
      <p class="card-text">{{ this.user.surname }}</p>
      <a (click)='open(content)' class="btn btn-primary">{{uiComponents.ViewDetails}}</a>
    </div>
<ng-template #content let-modal>
  <div class="modal-header" style="display: block; text-align: center;">
    <button type="button" class="close" aria-label="Close" style='float:right' (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button>
      <h4 class="modal-title" id="modal-basic-title">Profile Details</h4>
      <br>
      <img *ngIf='this.user.avatarUrl' [src]="this.userAvatarSrcPrefix + this.user.avatarUrl" alt="Card image cap">
      <img *ngIf='!this.user.avatarUrl' src="../../../assets/default-user.png" alt="Default user image">
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="username">{{uiComponents.Username}}: </label>
          <div class="input-group">
            <input type="text" [(ngModel)]='this.username' class="form-control" [placeholder]="this.user.username">
            </div>
            <label for="username">{{uiComponents.Name}}: </label>
          <div class="input-group">
            <input type="text" [(ngModel)]='this.name' class="form-control" [placeholder]="this.user.name">
            </div>
            <label for="username">{{uiComponents.Surname}}: </label>
          <div class="input-group">
            <input type="text" [(ngModel)]='this.surname' class="form-control" [placeholder]="this.user.surname">
            </div>
            <label for="username">{{uiComponents.Email}}: </label>
          <div class="input-group">
            <input type="text" [(ngModel)]='this.email' class="form-control" [placeholder]="this.user.email">
            </div>
            <label for="username">{{uiComponents.ActiveRoles}}: </label>
            <div class="input-group">
              <input type="text" class="form-control" [placeholder]="this.user.roles.join(', ')" disabled>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="margin-left: auto; margin-right: auto">
      <button type="button" class="btn btn-outline-dark" (click)="updateUser(this.user.id); modal.close()">{{uiComponents.UpdateUser}}</button>
      <button type="button" class="btn btn-outline-dark" (click)="onDeleteButton(this.user.id, this.user.username); modal.close()">{{uiComponents.DeleteUser}}</button>
      <button type="button" class="btn btn-outline-dark" (click)="createEditor(this.user.id); modal.close()">{{uiComponents.SetEditorRole}}</button>
      <button *ngIf='!this.user.isBanned' type="button" class="btn btn-outline-dark" (click)="onBanButton(this.user.id, this.user.username); modal.close()">{{uiComponents.BanUser}}</button>
      <button *ngIf='this.user.isBanned' type="button" class="btn btn-outline-dark" (click)="onUnBanButton(this.user.id, this.user.username); modal.close()">{{uiComponents.UnbanUser}}</button>
    </div>
  </ng-template>
</div>
</div>
</div>
<pre>{{closeResult}}</pre>
<div class='pagination'>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
