<footer class="page-footer font-small teal pt-4">

        <div class="container-fluid text-center text-md-left">
      
          <div class="row">
      
            <div class="col-md-4 mt-md-0 mt-3">
      
              <h5 class="text-uppercase font-weight-bold">{{uiComponents.CreatedBy}}:</h5>
              <p>Ivan Shterev</p>
              <p>Ivaylo Rashevski</p>
      
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-4 mb-md-0 mb-3">
              <div style="text-align: center;">
              <h5 class="text-uppercase font-weight-bold">{{uiComponents.ThanksTo}}:</h5>
              <a href="https://telerikacademy.com"> telerikacademy.com</a>
              <br>
              <a href="https://www.bright.consulting"> bright.consulting.com</a>
            </div>
           </div>
           <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-4 mb-md-0 mb-3">
      
              <div class="right-footer text-center text-md-right">
                  <h5 id="right-footer-topic" class="text-uppercase font-weight-bold">{{uiComponents.Technologies}}</h5>
                  <img src='../../assets/iconfinder_code-programming-javascript-software-develop-command-language_652581-4.png'>
                  <img src="../../assets/iconfinder_144_Gitlab_logo_logos_4373151.png">
                  <img src="../../assets/iconfinder_angular-js_3069652.png">
                  <img src="../../assets/Webp.net-resizeimage.png">
              </div>
                    
            </div>
      
          </div>
        </div>
      </footer>
