.nav-link-active {
    border: 1px solid grey;
  }
  
.BTN {
  float: left;
  border: 1px solid grey;
  background-color: lightgray;
  opacity: 0.7;
}

img {
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
  border-radius: 10px;
}

.searchbar{
  position: inherit;
  left: 30%;
  top: 7%;
  margin-bottom: auto;
  margin-top: auto;

  height: 50px;
  background-color: lightgrey;
  border-radius: 30px;
  padding: 5px;
  }

.drop-down{
  position: absolute;
  left: 15px;
  text-align: center;
}

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar > .search_input{
    width: 80%;
  padding: 0 10px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }

.logo {
    outline: none;
}

.searchInputWrapper {
  max-width: 600px;
}

button {
  outline: none;
}

@media(max-width: 1100px) {
  .drop-down{
    position: relative;
  }

}