<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="navbar-container">
    <button class="btn btn-secondary"[routerLink]="['/home']" 
    [routerLinkActive]="'nav-link-active'">
    Home
    </button>
        <button class="btn btn-secondary"[routerLink]="['articles']" [routerLinkActive]="'nav-link-active'">
              Articles
        </button>
        <div class='btns'>
        <button class="btn btn-secondary" [routerLink]="['users/register']" [routerLinkActive]="'nav-link-active'" *ngIf="!this.loggedUserData">
          Register
        </button>
        <button class="btn btn-secondary" [routerLink]="['users/login']" [routerLinkActive]="'nav-link-active'" *ngIf="!this.loggedUserData">
          Login
        </button>
        <button  class="btn btn-secondary" (click)=" this.logout()" *ngIf="this.loggedUserData"> 
          Logout
        </button>
        <button class="btn btn-secondary" [routerLink]="['users/adminPanel']" *ngIf="this.loggedUserData && this.loggedUserData.roles.includes('Admin')" > 
            AdminPanel
          </button>
          <button [routerLink]="['users/profile']" [routerLinkActive]="'nav-link-active'" class="btn btn-secondary" *ngIf="this.loggedUserData">
            <img src="{{ this.loggedUserData.avatarUrl ? this.userAvatarSrcPrefix + this.loggedUserData.avatarUrl : this.defaultUserAvatarImagePath }}">
            {{ this.loggedUserData.username }}
          </button>
        </div>
</div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
  <img [routerLink]="['/home']" 
  class='logo' src="./../../assets/languageLogo.jpg" alt=""/>
  </a>
    <button (click)='this.isCollapsed = !this.isCollapsed' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.collapse]='this.isCollapsed' class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles']" 
          [routerLinkActive]="'nav-link-active'">{{uiComponents.Articles}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/myArticles']" 
            [routerLinkActive]="'nav-link-active'" *ngIf="this.loggedUserData && !this.loggedUserData.roles.includes('Admin')">{{uiComponents.MyArticles}}</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['users/login']" [routerLinkActive]="'nav-link-active'" *ngIf="!this.loggedUserData">{{uiComponents.SignIn}}</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['users/register']" [routerLinkActive]="'nav-link-active'" *ngIf="!this.loggedUserData">{{uiComponents.Register}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['users/profile']" [routerLinkActive]="'nav-link-active'" *ngIf="this.loggedUserData">{{uiComponents.Profile}}</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['translations']" [routerLinkActive]="'nav-link-active'" *ngIf="this.loggedUserData && this.loggedUserData.roles.includes('Admin') && this.loggedUserData.roles.includes('Editor')">{{uiComponents.Translations}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="this.logout()" *ngIf="this.loggedUserData">{{uiComponents.LogOut}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['users/adminPanel']" *ngIf="this.loggedUserData && this.loggedUserData.roles.includes('Admin')">{{uiComponents.AdminPanel}}</a>
          </li>
        </ul>
            <div class="h-100 w-100 searchInputWrapper">
                <div class="d-flex justify-content-center justify-content-md-end h-100 ">
                  <div class="searchbar w-100">
                    <input class="search_input" [(ngModel)]="this.searchedText"  
                    placeholder="{{uiComponents.Search}}...">
                    <button (click)='searchForArticle()' class="search_icon">
                      <i class="material-icons">
                        search
                        </i>
                      </button>
                  </div>
                </div>
                <div class="drop-down">
                  <label>{{uiComponents.ChooseLanguage}}</label>
                  <br>
                  <select  [(ngModel)]="selectedLang" (change)="onChangeLanguage(selectedLang)">
                    <option *ngFor="let lang of this.supportedLanguages" [ngValue]="lang">{{lang}}</option>
                  </select>
                </div>
                
              </div>
    </div>
  </nav>