/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,h3 {
    font-weight: bold;
}
@media (min-width: 576px) { 
    .container {
        max-width: 540px;
    }
 }
@media (min-width: 768px) { 
    .container {
        max-width: 720px;
    }
 }

@media (min-width: 992px) { 
    .container {
        max-width: 940px;
    }
 }

@media (min-width: 1200px) { 
    .container {
        max-width: 940px;
    }
 }