<div style="text-align: center; margin-top: 10px;">
<button class="btn btn-secondary" (click)='createArticle()'>{{uiComponents.CreateNewArticle}}</button>
</div>
<div class="articleList" style="text-align: center;">
    <div class="align-self-stretch">
    <div class="card" *ngFor='let article of this.articles | paginate: { itemsPerPage: 6, currentPage: p }' style="width: 16rem; display: inline-block">
      <img class="card-img-top" [src]="this.article.imgUrl" alt="Card image cap">
      <div class="card-body">
        <div class="articleTitle" style="text-align: center; margin-bottom: 9px;">
        <h5 class="card-title">{{ this.article.title }}</h5>
        </div>
        <div class="articleContent" style="text-align: center; margin-bottom: 10px">
        <p class="card-text">{{ this.article.content }}</p>
        </div>
        <div style="text-align: center">
        <a (click)='this.onDetailsClick(this.article.id)' class="btn btn-primary">{{uiComponents.ReadMore}}</a>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class='pagination'>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>