img {
    width: 100%;
    height: 200px;
}
.card {
    margin: 20px;
}
.articleTitle {
    overflow: hidden;
    height: 51px;
}

.articleContent {
    overflow: hidden;
    height: 100px;
}
p {
    width: 100%;
    height: 100%;
}

h5 {
    width: 100%;
    height: 100%;
}

.pagination {
    margin-left: 50%;
}
