<h1 style="color: black">{{uiComponents.MyArticles}}:</h1>
<small *ngIf='this.warningFlag'>* {{uiComponents.ArticleVersionInfo}} *</small>
<table class="table table-striped table-dark">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor='let article of this.myArticleVersions | paginate: { itemsPerPage: 8, currentPage: p } '>
        <td>
            <tr><b>{{this.uiComponents.Title}}</b></tr>
          {{ this.article.title}}</td>
        <td>
            <tr><b>{{this.uiComponents.Content}}</b></tr>
          {{this.article.content}}</td>
        <!-- <td><button (click)='this.showAllUserArticles()' type="button" class="btn btn-secondary">{{uiComponents.ShowVersions}}</button></td> -->
        <td>
          <button style="float: right;" type="button" class="btn btn-secondary" (click)='this.setCurrentVersion(article.id)'>{{uiComponents.SetVersion}}</button>
        </td>
        <td><button (click)='this.deleteArticle(this.article.id)' type="button" class="btn btn-secondary">{{uiComponents.DeleteArticle}}</button></td>
    </tr>
    </tbody>
    <button (click)='this.goBack()' type="button" class="btn btn-secondary">{{uiComponents.GoBack}}</button>
</table>
<div class='pagination'>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
