table {
    max-width: 100%;
    display: block;
    overflow: scroll;
}

td {
    width: 50%;
}

.left {
    float: left !important;
    left: 0;
    margin: 1%;
}
.pagination {
    margin-left: 50%;
}