<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">{{uiComponents.OriginalText}}</th>
        <th scope="col">{{uiComponents.TranslatedText}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>
        {{ this.currentTranslation.text }}
          </td>
        <td>
            <div class="md-form amber-textarea active-amber-textarea">
                        <textarea id="form19" class="md-textarea form-control" rows="3" #value>{{ this.currentTranslation.translatedText }}</textarea>
                        <button style="float: right;" type="button" class="btn btn-primary" (click)='this.editTranslation(value.value)'>{{uiComponents.SaveChanges}}</button>
            </div>
    </td>
      </tr>
    </tbody>
  </table>