table {
    max-width: 100%;
    display: block;
    overflow: scroll;
}

.pagination {
    margin-left: 50%;
}
.image-rotate-hidden {
    display: none;
}

@media(max-width: 450px) {
    .image-rotate-hidden {
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 999;
    }
    .image-rotate-hidden img {
        width: 100%;
        height: 100%;
    }
    table {
        height: 0;
    }
}
    