<h1>{{uiComponents.Translations}}:</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{{uiComponents.Text}}</th>
        <th scope="col">{{uiComponents.TranslationLanguage}}</th>
        <th scope="col">{{uiComponents.TranslatedText}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let translation of this.translations | paginate: { itemsPerPage: 8, currentPage: p }'>
        <td>{{ this.translation.text}}</td>
        <td>{{ this.translation.targetLanguage }}</td>
        <td>{{ this.translation.translatedText }}</td>
        <td><button (click)='editTranslation(this.translation.id)' type="button" class="btn btn-secondary">{{uiComponents.EditTranslation}}</button></td>
      </tr>
    </tbody>
</table>
<div class='pagination'>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div class="image-rotate-hidden">
<img src="/assets/source.gif" alt="" >
</div>
</div>