<div class='bg'>
        <app-navbar></app-navbar>
<main class="container">
    <router-outlet></router-outlet>
    <ngx-spinner></ngx-spinner>
</main>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>    


