
.bg {
    background-color: whitesmoke;
    width: 100%;
    /* height: 150%; */
    opacity : 0.9;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    /* margin-bottom: 200px; */
}

.h1 {
    text-align: left;
    color: grey;
    margin-left: 200px;
}

/* .loginRegisterContainer{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    height: 550px;
    width: 300px;
    top: 55px;
    right: 500px;
}

.loginBTN {
    display: flex;
    position: absolute;
    top: 19px;
    left: 480px;
    min-width: 150px;
}

.registerBTN {
    display: flex;
    position: absolute;
    top: 19px;
    left: 630px;
    min-width: 150px;
}

.loginComponent {
    position: absolute;
    width: 100%;
    top: 0;
}

.registerComponent {
    position: absolute;
    width: 100%;
    top: 0;
} */

 .authors {
     float: left;
     color: lightgray;
     margin-top: -1px;
    margin-bottom: 0;
 }

 .company {
     float: right;
     padding-top: 20px;
    width: 190px;
    height: 40px;
 }
.footer {
    position: relative;
    bottom: 0px;
    /* height: 10vh; */
}
 
.router {
    height: 100vh;
}

.container {
    min-height: 100vh;
}